.data {
    max-width: 1000px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

.data h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.data h2:first-of-type {
    font-weight: normal;
}

.data h2:last-of-type {
    font-weight: bold;
}